// COLOR VARIABLES
$color-background: #f8f2e4;
$color-hover: #db883c;
$color-card: #fff8e6;
$color-link: #5a56af;
$testimonials-link: #c94410;
$color-link-2: #ea7231;
$color-prices: #dd490f;
$color-prices-back: #f4e1b6;
$color-check: #e28641;
$color-cross: #b3b2b1;
$color-contacts: #fcf9f1;
$color-social: #e28234;
$color-footer: #383838;

$color-white: #fff;
$color-black: #000;
$color-gray-dark: #4b4b4b;
$color-gray-dark-2: #4e4e4e;
$color-gray-dark-3: #444444;
$color-gray-light: #bdbdbd;
$color-gray-light-2: #c0c0c0;
$color-gray-light-3: #b4b4b4;
$color-gray-light-4: #e6e6e6;



//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //    1200px
$bp-large: 62.5em; //  1000px
$bp-medium: 50em; //  800px
$bp-small: 37.5em; //  600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 35%;
  }
}

body {
  font-family: Muller, sans-serif;
  color: $color-black;
  font-weight: 300;
  background-color: $color-white;
}

.container {
  display: grid;
  grid-template-rows: [
  header-start] min-content
  [header-end] min-content
  [about-end] min-content
  [reasons-end] min-content
  [activities-end] min-content
  [schedule-end] min-content
  [program-end] min-content
  [ayurveda-end] min-content
  [ayur-centr-end] min-content
  [instructors-end] min-content
  [testimonials-end] min-content
  [why-us-end] min-content
  [participation-end] min-content
  [prices-end] min-content
  [safeguards-end] min-content
  [contacts-end] min-content [footer-end];

  grid-template-columns: [full-start] 1fr
  [center-start] minmax(min-content, 3rem)
  [col-start] min-content
  [col-end] minmax(min-content, 3rem)
  [center-end] 1fr [full-end];


/*  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:  [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }*/
}