// COLOR VARIABLES
$color-background: #f8f2e4;
$color-hover: #db883c;

$color-white: #fff;
$color-black: #000;


//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //    1200px
$bp-large: 62.5em; //  1000px
$bp-medium: 50em; //  800px
$bp-small: 37.5em; //  600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: Muller, sans-serif;
  color: $color-black;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-rows: [header-start] minmax(min-content, 83rem) [header-end] minmax(min-content, 59rem) [about-end] minmax(min-content, 78rem) [reasons-end] minmax(min-content, 75rem) [activities-end] minmax(min-content, 67rem) [schedule-end] minmax(min-content, 75rem) [programm-end] minmax(min-content, 132.1rem) [ayurveda-end] minmax(min-content, 73rem) [ayur-centr-end] minmax(min-content, 131.1rem) [instructors-end] minmax(min-content, 51rem) [testimonials-end] minmax(min-content, 89rem) [why-us-end] minmax(min-content, 45rem) [participation-end] minmax(min-content, 112rem) [prices-end] minmax(min-content, 68.6rem) [safeguards-end] minmax(min-content, 39rem) [footer-end] minmax(min-content, 9rem) [copyright-end];
  grid-template-columns: [full-start] 1fr
  [center-start] minmax(min-content, 3rem)
  [col-start] minmax(min-content, 94rem)
  [col-end] minmax(min-content, 3rem)
  [center-end] 1fr [full-end];


/*  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:  [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }*/
}