.header {
  grid-column: full-start / full-end;
  grid-row: header-start / header-end;
  background-image: url("../img/header.png");
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: 1fr minmax(min-content, 3rem) [inner-start] minmax(min-content, 94rem) [inner-end] minmax(min-content, 3rem) 1fr;
  grid-template-rows: [contact-start] min-content [contact-end] minmax(min-content, max-content)[header-end];
  padding-bottom: 4rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr [inner-start] 80% [inner-end] 1fr;
  }


  &__contact-bar {
    grid-column: inner-start / inner-end;
    grid-row: contact-start / contact-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.8rem 0;
  }

  &__logo {
    height: 10.4rem;

    @media only screen and (max-width: $bp-small) {
      height: 8.4rem;
    }
  }

  &__contacts {
    font-family: inherit;
    color: $color-white;
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    align-self: flex-end;
    margin-bottom: 1.2rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.2rem;
    }

  }

  &__phone {
    font-size: 2rem;
    font-weight: 700;
    align-self: flex-end;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__row {
    grid-column: inner-start / inner-end;
    grid-row: contact-end / header-end;

    display: grid;

    .heading-1 {
      margin-top: 15.5rem;
      margin-bottom: 4.5rem;


    }

    .heading-4 {
      margin-bottom: 1.5rem;
      &__subtitle {
        margin-bottom: 10rem;
      }
    }
  }
}

