.instructors {
  grid-column: full-start / full-end;
  grid-row: ayur-centr-end / instructors-end;

  display: grid;
  grid-template-columns: [full-start] 1fr minmax(min-content, 3rem) [col-start] minmax(min-content, 94rem) [col-end] minmax(min-content, 3rem) 1fr [full-end];
  grid-template-rows: minmax(min-content, 21rem) minmax(min-content, 54rem) minmax(min-content, 39rem) minmax(min-content, 18rem);

  margin-bottom: 8rem;

  &__background {
    grid-column: full-start / full-end;
    grid-row: 1 / 4;
    background-color: $color-background;
  }

  &__heading {
    grid-column: col-start / col-end;
    grid-row: 1 / 2;
    text-align: center;
    align-content: center;
    margin: 7.5rem 0;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__slider {
    grid-column: col-start / col-end;

    width: 94rem;
    height: 54rem;

    &--1 {
      grid-row: 2 / 3;
      margin-bottom: 1.3rem;
    }

    &--2 {
      grid-row: 3 / 5;
    }
  }

  &__card {
    text-align: center;
    position: relative;

    display: grid;
    grid-template-rows: minmax(min-content, 37rem) minmax(min-content, 17rem);
  }

  &__photo {
    grid-row: 1 / -1;
    overflow: hidden;
    position: absolute;
    width: 100%;

    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
  }

  &__content {
    grid-row: 2 / 3;

    width: 94rem;
    height: 17rem;

    display: grid;
    grid-template-columns: minmax(min-content, 35rem) minmax(min-content, 59rem);

    background-color: rgba(68, 68, 68, .5);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    transform: translate3d(-50%, -50%, 0);
  }

  &__left {
    display: grid;
    align-content: center;
    text-align: left;
    font-family: inherit;
    color: $color-white;
    margin-left: 6rem;
  }

  &__wrap {
    border-right: 1px solid $color-white;
    padding: 2rem 0;
  }

  &__name {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__speciality {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;

    p:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &__right {
    display: grid;
    align-content: center;
    text-align: left;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    color: $color-white;
    margin-left: 5rem;
    margin-right: 2rem;
  }

  .swiper-pagination-bullet-active {
    background: $testimonials-link;
  }
}